@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    background-color: #F4F4F4;
}

#top-bar {
    display: flex;
    position: sticky;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2A87CA;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    z-index: 9999;
}

#top-bar > img {
    flex-basis: 15%;
}

#top-bar > p:nth-child(2) {
    flex-basis: 15%;
}

#top-bar > p:nth-child(3) {
    flex-basis: 30%;
}

#top-bar > p:nth-child(4) {
    flex-basis: 30%;
}


#top-bar > p:nth-child(5) {
    flex-basis: 10%;
}

#top-bar img[src="./images/MyCourseVille.png"] {
    width: 0%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: white;
}

#content {
    display: grid;
    grid-template-columns: 15fr 85fr;   
    grid-template-rows: 1fr 1fr;
    overflow-wrap: break-word;
}

#sidebar {
    
}